<section id="features-slider" class="ss-slider">

  <% @projects.each do |project| %>

    <article class="slide">

      <%= image_tag project.slide_image.url, class: "slide-bg-image" %>

      <div class="slide-button">
        <span class="dropcap">1</span>
        <h5><%= project.title %></h5>
        <span class="description"><%= project.subtitle %></span>
      </div>

      <div class="slide-content">
        <h2><%= project.title %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus justo.</p>
        <p><a class="button" href="#">Read More</a></p>
      </div>

    </article>

  <% end %>

</section>