<section id="features-slider" class="ss-slider">

  <% @projects.each do |project| %>

    <article class="slide">

      <img src="img/placeholders/slider-slide-1.jpg" alt="" class="slide-bg-image" />

      <div class="slide-button">
        <span class="dropcap">1</span>
        <h5>Responsive Layout</h5>
        <span class="description">From desktop to mobile</span>
      </div>

      <div class="slide-content">
        <h2>Responsive Layout</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus justo.</p>
        <p><a class="button" href="#">Read More</a></p>
      </div>

    </article>

  <% end %>

</section>