<article class="one-half">

  <%= link_to project do %>
    <%= image_tag project.images.first.file.url(:thumb_big) %>

    <div class="project-meta">

      <h5 class="title">
        <%= project.title %>
      </h5>

      <span class="categories"></span>
      <% # TODO: render something here (date & location maybe) %>

    </div>
  <% end %>

</article>