<div class="image-gallery-slider">

  <ul>

    <li>
      <a href="img/placeholders/single-project-1.jpg" class="single-image" title="Altered - Something abstract." rel="single-project">
        <img src="img/placeholders/single-project-1.jpg" alt="Altered">
      </a>
    </li>

    <li>
      <a href="img/placeholders/single-project-2.jpg" class="single-image" title="Altered - Something abstract." rel="single-project">
        <img src="img/placeholders/single-project-2.jpg" alt="Altered">
      </a>
    </li>

    <li>
      <a href="img/placeholders/single-project-3.jpg" class="single-image" title="Altered - Something abstract." rel="single-project">
        <img src="img/placeholders/single-project-3.jpg" alt="Altered">
      </a>
    </li>

  </ul>

</div>