<article class="one-fourth" data-categories="illustration design">

  <a href="img/placeholders/portfolio-project-4th-3.jpg" class="single-image" title="Static Adventure - ">
    <img src="img/placeholders/portfolio-project-4th-3.jpg" alt="">
  </a>

  <%= link_to product, class: "project-meta" do %>
    <h5 class="title">product.title</h5>
    <span class="categories">product.category</span>
  <% end %>

</article>