<h4>Overview</h4>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam.</p>

<p>Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo.</p>

<h4>Things we did</h4>

<ul class="check">
  <li>HTML/CSS</li>
  <li>Information Architecture</li>
  <li>User Interface Design</li>
  <li>Programming</li>
</ul>

<p>
  <a href="#" class="button">Launch website</a>
</p>