<header class="page-header">

  <h1 class="page-title">Προϊόντα</h1>

  <ul id="portfolio-items-filter">

    <li>Προβολή</li>

    <li><a data-categories="*">Όλων</a></li>
    <% @categories.each do |category| %>
      <li>
        <%= content_tag('a', category.title, "data-categories" => category.title) %>
      </li>
    <% end %>

  </ul>

</header>

<section id="portfolio-items" class="clearfix">
  <%= render @products %>
</section>