<header class="page-header">

  <h1 class="page-title">Προϊόντα</h1>

  <ul id="portfolio-items-filter">
    <li>Showing</li>
    <li><a data-categories="*">All</a></li>
    <li><a data-categories="animation">Animation</a></li>
    <li><a data-categories="design">Design</a></li>
    <li><a data-categories="illustration">Illustration</a></li>
    <li><a data-categories="photography">Photography</a></li>
    <li><a data-categories="web">Web</a></li>
  </ul>

</header>

<section id="portfolio-items" class="clearfix">

  <%= render @products %>

 <!--  <article class="one-fourth" data-categories="illustration design">

    <a href="img/placeholders/portfolio-project-4th-3.jpg" class="single-image" title="Static Adventure - ">
      <img src="img/placeholders/portfolio-project-4th-3.jpg" alt="">
    </a>

    <a href="single-project.html" class="project-meta">
      <h5 class="title">Static Adventure</h5>
      <span class="categories">design / illustration</span>
    </a>

  </article>

  <article class="one-fourth" data-categories="illustration web">

    <a href="img/placeholders/portfolio-project-4th-4.jpg" class="single-image" title="Nothing endures but change - ">
      <img src="img/placeholders/portfolio-project-4th-4.jpg" alt="">
    </a>

    <a href="single-project.html" class="project-meta">
      <h5 class="title">Nothing endures but change</h5>
      <span class="categories">illustration / web</span>
    </a>

  </article>

  <article class="one-fourth" data-categories="illustration animation">

    <a href="img/placeholders/portfolio-project-4th-1.jpg" class="single-image" title="The Travelers - ">
      <img src="img/placeholders/portfolio-project-4th-1.jpg" alt="">
    </a>

    <a href="single-project.html" class="project-meta">
      <h5 class="title">The Travelers</h5>
      <span class="categories">illustration / animation</span>
    </a>

  </article>

  <article class="one-fourth" data-categories="animation design">

    <a href="img/placeholders/portfolio-project-4th-2.jpg" class="iframe video" title="Boombox -">
      <img src="img/placeholders/portfolio-project-4th-2.jpg" alt="">
    </a>

    <a href="single-project.html" class="project-meta">
      <h5 class="title">Boombox</h5>
      <span class="categories">animation / design</span>
    </a>

  </article>

  <article class="one-fourth" data-categories="illustration photography">

    <a href="img/placeholders/portfolio-project-4th-3.jpg" class="single-image" title="Impossible is nothing - ">
      <img src="img/placeholders/portfolio-project-4th-3.jpg" alt="">
    </a>

    <a href="single-project.html" class="project-meta">
      <h5 class="title">Impossible is nothing</h5>
      <span class="categories">photography / illustration</span>
    </a>

  </article>

  <article class="one-fourth" data-categories="web photography">

    <a href="img/placeholders/portfolio-project-4th-4.jpg" class="single-image" title="Deadly Kiss - ">
      <img src="img/placeholders/portfolio-project-4th-4.jpg" alt="">
    </a>

    <a href="single-project.html" class="project-meta">
      <h5 class="title">Deadly Kiss</h5>
      <span class="categories">web / photography</span>
    </a>

  </article> -->

</section>